*{
  margin:0;
  padding:0;
}
body{
    font-family:"Oswald", sans-serif;
}
a{
  text-decoration:none;
  color:#000000;
  font-size:18px;
}
.text-logo{
  font-family:"Oswald", sans-serif;
  margin-right:auto;
}
header{
  display:flex;
  justify-content:flex-end;
  align-items:center;
  padding:25px 10%;
}
.nav-links{
  list-style:none;
}
.nav-links li{
  display:inline-block;
  padding:0px 24px;
}
.nav-links li a{
  transition:all 0.3s ease 0s;
}
.nav-links li a:hover{
  color:#E51E25;
}
button{
  margin-left:24px;
  padding:14px 20px;
  background-color:#E51E25;
  border:none;
  border-radius:8px;
  color:#FFFFFF;
}
.hero-img{
  background-image:url("resources/images/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg");
  height:550px;
  background-size:cover;
  background-repeat:no-repeat;
  backgroud-position:center;
}
.hero-img-text{
  text-align:center;
  color:#FFFFFF;
  font-variant:small-caps;
  padding-top:40px;
  position: relative;
  top:50px;
}
.tagline{
  font-size:50px;
}
.tagline-mid{
  font-size:100px;
}
.tag{
  color:#E51E25;
}
.about-section{
  margin-top:300px;
  float:right;
  margin-bottom:80px;
  }
  .about-section img{
    width:40%;
    display:inline-block;
    margin-left:20px;
  }
.about-info{
  background-color:rgb(200,200,200 ,0.3);
  height:330px;
  width:543px;
  float:right;
  margin-right:20px;
}
.about-info h2,h3{
  padding-left:16px;
}
.about-info hr{
  height:2px;
  width:400px;
  background-color:#E51E25;
  border:none;
}
.about-info p{
  padding:14px;
  font-size:14px;
}
.services{
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("resources/images/risen-wang-20jX9b35r_M-unsplash.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  height:625px;
  clear:both;
  color:#FFFFFF;
}
.services h1{
  text-align:center;
}
.row{
  display:flex;
  margin-top:30px;
}
.column{
  flex:50%;
  padding:16px;
  height:150px;
  width:700px;
  background:#FFFFFF;
  margin:10px;
  color:#000000;
  border-radius:8px;
}
.column img{
  float:left;
}
.column h2{
  text-decoration:underline;
  text-decoration-color:red;
  text-decoration-thickness:2px;
  clear:right;
}
.column p{
  padding:15px;
}
.plans-section h2{
  margin-top:30px;
}
.plans-section h2,.plans-section p{
  text-align:center;
}
.plans{
  background-color:#D0D0D0;
  padding:15px;
  margin:60px;
  width:250px;
  height:450px;
  border-radius:8px;
  display:inline-block;
}
.plans-rows{
  display:flex;
}
.plans h4, .plans h3{
  padding:5px;
}
.plans li{
  list-style:none;
  font-size:14px;
  padding:5px;
}
.plans a{
  margin-left:50px;
  margin-right:50px;
}
.plans button{
  text-align:center;
  margin:20px;
}
#premium-plan{
  color:#FFFFFF;
  background-color:#E51E25;
}
#premium-plan-button{
  background-color:#2E2E2E;
}
.testominals{
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("resources/images/giuseppe-argenziano-lTTQ1W_vvSI-unsplash.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  height:625px;
  color:#FFFFFF;
}
.testominals h1{
  text-align:center;
}
.testominals-container{
  background-color:#2E2E2E;
  height:235px;
  width:650px;
  border-radius:20px;
  margin:35px auto;
}
.testominals-container img{
  width:80px;
  height:80px;
  border-radius:50%;
  float:left;
  padding:10px;
}
.testominal-slide{
  padding:20px;
}
.review{
  margin-top:15px;
}
.review p{
  font-size:14px;
}
